// Bulma Overrides
$box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.35), 0 0px 0 1px rgba($scheme-invert, 0.02);
//$footer-padding: 3rem 1.5rem 0.25rem;
$footer-padding: 0.5rem 1.5rem 0.5rem;

$desktop: 1433px;
$navbar-breakpoint: $tablet;