@charset "utf-8";

$font-family: "system-ui", -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@use "node_modules/bulma/sass/utilities"with (
  $desktop: 1433px,
);
@use "node_modules/bulma/sass/base"with (
  $body-family: $font-family,
  $body-weight: 400,
);
@use "node_modules/bulma/sass/themes";

@use "node_modules/bulma/sass/elements";

@use "node_modules/bulma/sass/form/shared";
@use "node_modules/bulma/sass/form/input-textarea";
@use "node_modules/bulma/sass/form/checkbox-radio";
@use "node_modules/bulma/sass/form/select";
@use "node_modules/bulma/sass/form/tools";

@use "_divider";

@use "node_modules/bulma/sass/components/dropdown";
@use "node_modules/bulma/sass/components/modal";
@use "node_modules/bulma/sass/components/navbar"with (
  $navbar-breakpoint: utilities.$tablet,
);
@use "node_modules/bulma/sass/components/tabs";

@use "node_modules/bulma/sass/grid/columns";

@use "node_modules/bulma/sass/helpers/color";
@use "node_modules/bulma/sass/helpers/flexbox";
@use "node_modules/bulma/sass/helpers/other";
@use "node_modules/bulma/sass/helpers/spacing";
@use "node_modules/bulma/sass/helpers/typography";
@use "node_modules/bulma/sass/helpers/visibility";

@use "node_modules/bulma/sass/layout/footer"with (
  $footer-padding: 0.5rem 1.5rem 0.5rem,
);
@use "node_modules/bulma/sass/layout/level";

html {
  background-color: utilities.$white-ter;
}

html, body {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.navbar-item-unuseant {
  opacity: 0.5;
}

.buy-me-a-coffee-button {
  background-color: #F1337F;
  color: white;
  transition: 300ms;
}

.buy-me-a-coffee-button:hover {
  filter: brightness(125%);
  color: white;
}
