@import "core";

:root {
  --node-font-size: 20px;
}

.watermark {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 12pt;
  opacity: 0.85;
}

.links path {
  opacity: 0.8;
}

.nodes text {
  font-weight: 600;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: var(--node-font-size);
}

.nodes rect {
  width: 2pt;
  opacity: 0.85;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 1.75rem;
  min-height: 85vh;
  flex: 1 1 auto;
}

footer {
  width: 100%;
  margin-top: 1rem;
  min-height: 2rem;
  flex-shrink: 0;
}

.columns {
  padding-left: 1rem;
  padding-right: 1rem;
}

#sankey-input-box {
  min-height: 60vh;
  resize: vertical;
}

#sankey-input-box-container {
  padding: 0.5rem;
  height: 100%;
}

.tabs {
  white-space: normal !important;
}

.is-tab {
  width: 100%;
  height: 100%;
  padding: 0.75rem 0.5rem;
  display: none;
}

.is-active {
  display: block;
}

.divider {
  margin: 0.25rem;
}

#sankey-input-textarea {
  height: calc(60vh - 2 * 0.75rem);
  resize: none;
}

#sankey-box {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;

  #sankey-svg {
    min-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #sankey-bottom-menu {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;

    .is-bottom-menu-icon {
      font-size: 1.2em;
    }
  }
}

li {
  list-style: disc inside;
}

#mobile-popup {
  display: none;
}

@media screen and (orientation: portrait) and (max-width: $tablet) {
  #sankey-box, #sankey-svg {
    min-height: 70vh;
  }

  #mobile-popup {
    display: block;
    position: fixed;
    bottom: 0.5rem;
    left: 5%;
    right: 5%;
  }
}

@media screen and (min-width: $tablet) {
  #sankey-input-box {
    height: 50vh;
  }

  #sankey-input-textarea {
    height: calc(100% - 6 * 0.75rem);
  }

  #sankey-svg {
    width: 100%;
  }
}

@media screen and (min-width: $desktop) {
  main {
    min-height: 85vh;
    display: flex;
    justify-items: center;
  }

  .columns  {
    width: 100vw;
    max-width: 100vw;
    gap: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #sankey-box, #sankey-input-box {
    height: 100%;
  }

  #sankey-svg {
    width: 100%;
    height: 100%;
  }

  #sankey-input-box {
    resize: horizontal;
  }
}

.copy-link-button {
  &:before {
    content: "";
    position: absolute;
    opacity: 0;
    pointer-events: none;
    left: 50%;
    transform: translate3d(-50%,0%,0);
    transition: all 0.5s ease;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #282828 transparent transparent transparent;
  }

  &:after {
    text-transform: none;
    content: attr(data-tooltip);
    position: absolute;
    color: #fff;
    background: #282828;
    width: 5rem;
    opacity: 0;
    pointer-events: none;
    left: 50%;
    top: 0;
    border-radius: 4px;
    transform: translate3d(-50%,0%,0);
    transition: all 0.5s ease;
  }
  &.is-clicked {
    &:before, &:after {
      opacity: 1;
    }
    &:before {
      transform: translate3d(-50%,calc(-100% - 18px),0);
    }
    &:after {
      transform: translate3d(-50%,calc(-100% - 16px),0);
    }
  }
}
